.parallax-container
  .parallax
    =image_tag("parallax.jpg")
  %h3.center Bienvenido a Ludere

:javascript
  $(document).ready(function(){
    $('.parallax').parallax();
  });
.container
  .row.center
    En este sitio encontrarás, de manera gratuita, recursos didácticos para aprender distintas disciplinas, aplicaciones para docentes y publicaciones de divulgación científica y tecnológica.
  .divider
  .row
    Álgebra y Aritmética
  .row
    Aplicaciones de la matemática a la economía
  .row
    Precálculo
  .row
    Cálculo en una variable
  .row
    Cálculo multivariable
  .row
    Dibujo técnico
  .row
    Electricidad básica
  .row
    Electrónica analógica
  .row
    Electrónica digital
  .row
    Programación